<div class="header">
  <h1>Team 4</h1>
  <p> Team members:Divya Addala, Apoorva Bathula, Nithya Rao, Pradhi Waghray, SriShreya Sriharir</p>
</div>

  background-color: lightpink;
}

h1 {
  color: navy;
  margin-left: 20px;
}
