<!DOCTYPE html><html lang="en"><head><title>Team 4 from css</title><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><style>

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: RGB(248, 200, 208);
  color: black;
  font-size: 50px;
}

/* Page Content */
content {
  padding: 20px;
  display: grid;
  place-items: center;
  background:  solid rgb(238, 155, 169);
}

.div2 {
  margin-right: 50px;
  width: 350px;
  height: 150px;  
  padding: 85px;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box; 
}
.container {
  max-width: 500px;
  margin:auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  {
  justify-content: center;
}
  flex-direction: row;
  flex-wrap: wrap;
  {
  justify-content: center;
}
